
# fastlane
fastlane/AuthKey.p8
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
build/
test.db
client_1053698338059-aaogl6rnrc6j8q23hk26mfm4hjjk4hij.apps.googleusercontent.com.plist
client_secret_1053698338059-of6mhtb8mka8gjk5fsuco6h2ruhka7ng.apps.googleusercontent.com.json
